@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --textBlue: #007ace;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.p-24 {
  padding: auto;
  margin: auto 20%;
}

.row {
  display: inline-block;
  width: 750px;
}

button {
  color: white;
  background: var(--textBlue);
  padding: 5px;
  border: solid 1px var(--textBlue);
  border-radius: 5px;
}

button:hover {
  background: white;
  color: var(--textBlue);
}

input {
  color: yellow;
  background: rgb(var(--background-start-rgb));
  border-color: royalblue;
  padding: 5px;
}

label {
  color: var(--textBlue);
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
